.dropzone {
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
    border: 1px solid rgba(0,0,0,0.03);
  	min-height: 360px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	background: rgba(0,0,0,0.03);
  	padding: 23px;
}

.dzone-text {
	margin-top: 130px;
}